* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --blue-chill-50: #f2f9f9;
  --blue-chill-100: #ddeff0;
  --blue-chill-200: #bfe0e2;
  --blue-chill-300: #92cace;
  --blue-chill-400: #5faab1;
  --blue-chill-500: #438e96;
  --blue-chill-600: #3b757f;
  --blue-chill-700: #356169;
  --blue-chill-800: #325158;
  --blue-chill-900: #2d464c;
  --blue-chill-950: #1a2c32;

  --matisse-transparent-dark-0: #f0f9ffda;
  --matisse-transparent-dark-10: #effaffda;
  --matisse-transparent-dark-50: #b7eaffd2;
  --matisse-transparent-dark-100: #b9e7fed2;
  --matisse-transparent-dark-200: #7bd6fed2;
  --matisse-transparent-dark-300: #34c2fcd2;
  --matisse-transparent-dark-400: #0aabedd2;
  --matisse-transparent-dark-500: #0089cbd2;
  --matisse-transparent-dark-600: #006da4d2;
  --matisse-transparent-dark-700: #055c87d2;
  --matisse-transparent-dark-800: #0a4c70d2;
  --matisse-transparent-dark-900: #07304ad2;
  --matisse-transparent-dark-950: #032030d2;

  --matisse-transparent-light-0: #f0f9ff99;
  --matisse-transparent-light-10: #effaff36;
  --matisse-transparent-light-50: #b7eaff36;
  --matisse-transparent-light-100: #b9e7fe36;
  --matisse-transparent-light-200: #7bd6fe36;
  --matisse-transparent-light-300: #34c2fc36;
  --matisse-transparent-light-400: #0aabed36;
  --matisse-transparent-light-500: #0089cb36;
  --matisse-transparent-light-600: #006da436;
  --matisse-transparent-light-700: #055c8736;
  --matisse-transparent-light-800: #0a4c7036;
  --matisse-transparent-light-900: #07304a36;
  --matisse-transparent-light-950: #03203036;

  --matisse-0: #f0f9ff;
  --matisse-10: #effaff;
  --matisse-50: #b7eaff;
  --matisse-100: #b9e7fe;
  --matisse-200: #7bd6fe;
  --matisse-300: #34c2fc;
  --matisse-400: #0aabed;
  --matisse-500: #0089cb;
  --matisse-600: #006da4;
  --matisse-700: #055c87;
  --matisse-800: #0a4c70;
  --matisse-900: #07304a;
  --matisse-950: #032030;
  /* --matisse-50: #f0f9ff; */
  /* --matisse-100: #dff3ff; */
  /* --matisse-200: #b9e7fe; */
  /* --matisse-300: #7bd6fe; */
  /* --matisse-400: #34c2fc; */
  /* --matisse-500: #0aabed; */
  /* --matisse-600: #0089cb; */
  /* --matisse-700: #006da4; */
  /* --matisse-800: #055c87; */
  /* --matisse-900: #0a4c70; */
  /* --matisse-950: #07304a; */

  /*  */
}

html {
  font-size: 62.5%;

  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;

  &::-webkit-scrollbar {
    width: 0.7rem;
    transition: all 0.3s ease;
  }

  &::-webkit-scrollbar-thumb {
    /* background: #007db9; */
    border-radius: 40px 40px 40px 40px;
    background: var(--matisse-900);

    transition: all 0.3s ease;
  }

  &::-webkit-scrollbar-thumb:hover {
    transition: all 0.3s ease;
    /* background: var(--matisse-transparent-dark-900); */
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(97, 97, 97, 0.4);
    transition: all 0.3s ease;
  }
}

body {
  background-image: linear-gradient(
    180deg,
    var(--matisse-950) 0%,
    var(--matisse-950) 6%,
    var(--matisse-950) 9%,
    var(--matisse-900) 15%,
    var(--matisse-900) 39%,
    var(--matisse-800) 72%,
    var(--matisse-800) 79%,
    var(--matisse-700) 95%,
    var(--matisse-600) 99%
  );
  /* background-image: linear-gradient(
    180deg,
    #121223 0%,
    #181827 6%,
    #032030 9%,
    #022b42 15%,
    #003554 39%,
    #004d74 72%,
    #006494 79%,
    #006da4 95%,
    #007db9 99%
  ); */

  /* background-image: linear-gradient(
    180deg, 
    #181827 27%, 
    #193a8f 97%
    ); */

  background-repeat: no-repeat;
  font-family: "Outfit", sans-serif;
  color: var(--matisse-0);
  /* color: #ebebeb; */
  height: 100%;
  /* !!! */
  /* line-height: 1.5; */
  letter-spacing: 0.02em;
  overflow: auto;
}

body.no-scroll {
  overflow: hidden;
}

section {
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: var(--matisse-10);
  /* color: #f0f8ff; */
  font-weight: 600;
  transition: color 0.2s ease-out;
  &:hover {
    color: var(--matisse-400);
  }

  &:active {
    color: var(--matisse-600);
    /* color: var(--matisse-500); */
  }

  &:focus {
    color: var(--matisse-300);
  }
}

p {
  text-align: justify;
  font-size: 18px;
  /* line-height: 1.2; */
  line-height: 120%;
  text-wrap: pretty;
  color: var(--matisse-10);
}

li {
  list-style: none;
  width: auto;

  /* &::before {
    content: "\f3d3";
  } */
  &::before {
    font-family: "Font Awesome 5 Brands";
    color: #f1f1f1;
    margin-right: 0.5em;
  }

  & img {
    width: 23px;
    height: auto;
    margin-right: 1px;
  }
}

i {
  /* color: #007bff; */
  margin: 0;
  padding: 0;
  color: var(--matisse-10);
  /* color: #fff; */
}

/* section {
  height: 90vh;
} */

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  margin: 0;
  margin-bottom: 40px;

  /* font-size: 18px; */
  /* font-size: 1.8rem; */

  & h1 {
    /* font-weight: 400; */
    font-weight: 500;
    font-size: 32px;
    text-wrap: pretty;
  }

  & i {
    font-size: 36px;
    /* font-size: 40px; */
  }
}

.hidden {
  display: hidden;
  margin-left: 0;
}

.header-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 27;

  height: 72px;
  width: 100%;

  /* background-image: linear-gradient(180deg, #121223fe 27%, #121527fe 99%); */
  background-image: linear-gradient(180deg, #031b28fe 21%, #032030fe 79%);
  background-repeat: no-repeat;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */

  /* background-color: #181827fb; */

  & nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 100%;
    gap: 27px;
    margin: 0 0 27px 50px;

    & .img-perfil img {
      width: 50px;
      height: 50px;

      margin-top: 5px;

      border-radius: 50%;
      border: 1px solid transparent;
    }

    & .menu {
      /* width: 100%; */
      /* display: flex; */
      list-style: none;

      & li.item-nav {
        /* display: flex; */
        display: inline-block;
        padding: 0 16px;
        /* margin-left: 27px; */
        font-size: 19px;

        & a.link {
          position: relative;
          line-height: 1.5;

          /* transition: color 0.23s ease-out, margin 0.1s ease, border 0.1s ease; */

          &::before {
            content: "";
            width: 0;
            height: 2px;
            border-radius: 2px;
            position: absolute;
            bottom: -0.36rem;
            left: 50%;
            transition: width 0.4s, left 0.4s;

            /*! forma 2 */
            /* content: "";
            width: 100%;
            height: 2px;
            border-radius: 2px;
            position: absolute;
            bottom: -0.5rem;
            left: 0;
            transition: transform 0.4s, opacity 0.4s;
            opacity: 0; */
          }

          &:hover {
            &::before {
              background-color: var(--matisse-400);
              width: 100%;
              left: 0;

              /*! forma 2 */
              /* transform: translateY(-0.2rem);
              opacity: 1; */
            }
          }

          &:active {
            &::before {
              background-color: var(--matisse-600);

              width: 100%;
              left: 0;

              /*! forma 2 */
              /* opacity: 1; */
            }
          }

          &:focus {
            &::before {
              background-color: var(--matisse-300);

              width: 100%;
              left: 0;

              /*! forma 2 */
              /* opacity: 1; */
            }
          }
        }
      }
    }
  }
}

/*   left: calc((93vw / 4) - (7% - 11vw) + (97vw - 99%)); */

.img-container.small {
  position: fixed;
  left: calc((93vw / 4) - (7% - 11vw) + (97vw - 99%));
  top: -84px;
  z-index: 29;

  display: flex;

  & .img-photo img.expanded {
    margin-top: 90px;
    /* animation: zoomIn 0.6s forwards; */
    width: 50%; /* Cambia el ancho */
    height: 50%; /* Cambia la altura */
    z-index: 27; /* Asegúrate de que la imagen ampliada esté en la parte superior */
    cursor: pointer; /* Cambia el cursor para indicar que se puede cerrar */
    margin-right: 38%;
  }
}

.img-container.small .img-photo img {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 0;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;

  z-index: -1;
  /* transition: transform 0.3s ease; */

  & .img-photo {
    margin-top: 90px;
    display: flex;
    align-self: center;
    justify-content: center;
  }

  & .img-photo img {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 2px solid transparent;

    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease,
      border 0.3s ease-in, filter 0.3s ease;
    /* transition: transform 0.3s ease; */

    &:hover {
      border: 2px solid var(--matisse-10);
      /* border: 2px solid #ffffffb2; */
      cursor: pointer;
    }

    &:active {
      border: 2px solid transparent;
      cursor: none;
    }
  }

  & .img-photo img.expanded {
    /* animation: zoomIn 0.6s forwards; */
    width: 37%; /* Cambia el ancho */
    height: 37%; /* Cambia la altura */
    z-index: 27; /* Asegúrate de que la imagen ampliada esté en la parte superior */
    filter: brightness(90%); /* Aplica un filtro para opacar el fondo */
    cursor: pointer; /* Cambia el cursor para indicar que se puede cerrar */
  }
}

#sobremi .container {
  /* height: 50vh; */

  & .context {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    & p {
      width: 50%;
    }
  }

  & div.download-cv {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 18px;
    margin-bottom: 90px;

    /* button v.01 */
    /* & button {
      position: relative;
      top: 6px;

      padding: 1.4rem 1.8rem;

      font-size: 1.5rem;

      color: var(--matisse-10);

      background-color: var(--matisse-transparent-dark-950);

      border: 2px solid var(--matisse-transparent-light-100);
      border-radius: 1.4rem;

      font-weight: 600;

      box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

      transition: all 300ms ease-in-out 20ms;

      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: var(--matisse-0);

        background-color: var(--matisse-transparent-light-900);

        border-color: var(--matisse-transparent-dark-200);

        top: 3px;


        box-shadow: 0 15px 20px -5px var(--matisse-transparent-light-600),
          0 6px 8px -4px var(--matisse-transparent-light-600);
      }

      &:active {
        color: var(--matisse-10);
        background-color: var(--matisse-900);
        border-color: var(--matisse-transparent-dark-500);
      }
    } */

    .download-button {
      position: relative;
      border-width: 0;
      color: var(--matisse-10);
      font-size: 15px;
      font-weight: 600;
      /* border-radius: 4px; */
      border-radius: 1.2rem;

      cursor: pointer;
      z-index: 1;
      transition: all 297ms ease-in-out 27ms;
    }

    .download-button .docs {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      min-height: 40px;
      padding: 0 10px;

      background-color: var(--matisse-transparent-dark-900);
      /* background-color: #242a35; */
      border: 2px solid var(--matisse-transparent-light-100);
      /* border: solid 1px #e8e8e82d; */
      border-radius: 1.2rem;
      /* border-radius: 4px; */

      z-index: 1;

      transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    }

    .download-button:hover {
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

      color: var(--matisse-0);
      background-color: var(--matisse-transparent-dark-900);

      border-color: var(--matisse-transparent-dark-200);
    }

    .download {
      position: absolute;
      inset: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      /* max-width: 90%; */
      max-width: calc(79% - 1px);
      margin: 0 auto;
      z-index: -1;
      /* border-radius: 7px; */
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;

      transform: translateY(0%);
      /* border: solid 1px #01e0572d; */

      cursor: pointer;
      transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    }

    .download-button:hover .download {
      transform: translateY(100%);
      background-color: var(--matisse-400);
      border: solid 1px var(--matisse-transparent-dark-900);
      /* background-color: #01e056; */
    }

    .download svg polyline,
    .download svg line {
      animation: docs 1s infinite;
    }
  }
}

/* !!! estilos del proyecto V.1 */
/* @media (hover: hover) {
  #proyectos .container .context .img-container:hover .efect {
    opacity: 1;
    visibility: visible;
  }
} */
/* #proyectos .container {
  width: 100%;

  & .title {
    margin-bottom: 21px;
  }

  & .all-projects {
    padding: 50px;

    & .context {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      padding: 35px 0;
      margin-bottom: 60px;

      border: 1.23px solid #ffffff27;
      border: 1px solid rgba(250, 250, 250, 0.18); 
      border-radius: 24px;

      & .project-title {
        margin-top: 5px;
        text-align: center;
        letter-spacing: 1px;

        font-size: 1.9rem;

        color: #3fb7f8;
      }

      & .details {
        width: 70%;

        margin: 35px 0;
      }

      & .desarrollo-with {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-wrap: wrap;

        gap: 21px;
        margin-bottom: 30px;
        height: 52px;

        & div {
           background-color: #efefef97; 
           background-color: #efefef27; 
           color: #121223; 
          background-color: #08192b80;
          padding: 8px 16px;
          height: 42px;

          font-weight: 600;
           font-weight: 500; 
           font-weight: bolder;

          border-radius: 50px 50px 50px 50px;
          text-overflow: ellipsis;
          vertical-align: middle;

          position: relative;
          bottom: 0;

          transition: all 0.3s ease-in-out;

          box-shadow: 0 3px 5px #121234f2; 
          box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1),
            0 1px 2px -1px rgb(0 0 0 / 0.1);

          border: 2px solid #ffffff27;

          color: #63d7f9;
          color: #3c8bcf;
          color: #44bbfb;

          &:hover {
            bottom: 4px;

            border: 2px solid #ffffff92;
            box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
              0 8px 10px -6px rgb(0 0 0 / 0.1);

            cursor: pointer;
          }
        }

        & img {
          position: relative;
          top: 2px;
          margin-right: 5px;
          background-size: contain;
          background-position: center center;
          height: 18px;
          width: auto;
        }
      }
    }

    & .img-container {
      display: flex;
      justify-content: center;
      margin: 10px 27px 40px;

      height: 79vh; 
      & div {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        width: 92%;
        height: 37vw;

        position: relative;
        top: 0;
        left: 0;
        text-decoration: none;
        outline: 0;

        & img {
          width: 100%;
          height: 100%;

          vertical-align: middle;

          border-radius: 21px;
          z-index: 1;
          cursor: pointer;
        }

        & .efect {
          text-size-adjust: none;
          border-radius: 21px;

          position: absolute;
          top: 0;
          left: 0;

          width: 100%;
          height: 37vw;

          padding: 0;
          margin-bottom: 100px;

          -o-transition: visibility 0.2s, opacity 0.2s ease-in-out;
          -webkit-transition: visibility 0.2s, opacity 0.2s ease-in-out;
          transition: visibility 0.2s, opacity 0.2s ease-in-out;
          pointer-events: none;

          visibility: hidden;
          opacity: 0;
          z-index: 3;

          &::after {
            content: "";

            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;
            height: 50%;

            border-radius: 19px;
            z-index: 3;

            background-image: linear-gradient(
              0deg,
              rgba(8, 25, 43, 0.85),
              rgba(0, 0, 0, 0)
            );
          }
        }
      }
    }

    & .container-button {
      margin-top: 23px;
      height: 120px; 
      width: auto;
      height: 80px;

      & button {
        text-decoration: none;

        background-color: #99999924;

        border: 1.4px solid #ffffff27;
        border-radius: 15px;

        padding: 15px 30px;

        position: relative;
        transition: border 250ms ease-in-out 9ms, padding 200ms ease-in-out 9ms,
          background 250ms ease-in-out;

        & a {
          color: #3fb7f8; 
          color: #d0dff5;
        }

        &:hover {
          background-color: #21212150;
          padding: 13.6px 28.6px;

          border: 2px solid #fff9;
          bottom: 2.5px;


          box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
            0 8px 10px -6px rgb(0 0 0 / 0.1);

          & a {
            color: #63d7f9;
            color: #3c8bcf;
            color: #44bbfb;
          }
        }

        & a {
          font-size: 23px;
          font-weight: 700;
        }
      }
    }
  }
} */

#proyectos .container {
  width: 100%;

  & .title {
    margin-bottom: 21px;
  }

  & .all-projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content: start;
    flex-wrap: wrap;

    width: 90%;
    margin: 50px auto 0;

    column-gap: 18px;

    /* max-width: 160rem; */

    & div.project {
      /* padding: 0 10px 0.5rem; */
      padding: 0 10px 4rem;
      margin-bottom: 2rem;
      /* min-width: 30vw; */
      flex-basis: 44%;
      flex-grow: 5;
      flex-shrink: 2;

      &:last-child {
        /* flex-basis: 70%; */
        /* margin: 0 100px; */
        max-width: 800px;

        padding-bottom: 1.5rem;

        & .context {
          & .info {
            background-image: linear-gradient(
              180deg,
              var(--matisse-transparent-light-400) 4%,
              var(--matisse-transparent-dark-950) 23%
            );
          }
        }
      }

      & .context {
        /* background-image: linear-gradient(
          180deg,
          var(--matisse-transparent-dark-700) 51%,
          var(--matisse-transparent-dark-950) 92%
        ); */

        /* padding: 0 4px 5px; */
        height: 100%;
        overflow: hidden;
        position: relative;
        bottom: 0;
        /* min-height: 545px; */

        /* border: 2px solid #ffffff26; */
        /* border: 2px solid white; */
        /* background-color: var(--matisse-transparent-dark-950); */
        border: 2px solid var(--matisse-transparent-light-200);
        border-radius: 1.6rem;

        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1),
          0 1px 2px -1px rgb(0 0 0 / 0.1);

        /* transition: background-color 0.25s ease-in-out; */
        transition: all 0.3s ease-in-out;
        /* transition: box-shadow 0.5s ease-in-out; */

        &:hover {
          bottom: 4px;

          border-color: var(--matisse-transparent-dark-200);
          /* border: 2px solid #ffffffd2; */
          /* box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
            0 8px 10px -6px rgb(0 0 0 / 0.1); */
          box-shadow: 0 20px 25px -5px var(--matisse-transparent-dark-800),
            0 8px 10px -6px var(--matisse-transparent-dark-800);

          & .info {
            & .content-title-p {
              & .project-title {
                color: var(--matisse-10);
              }

              & .detail-text {
                /* color: var(--matisse-transparent-dark-0); */
                color: var(--matisse-transparent-dark-10);
              }
            }
          }
        }

        &:active {
          border-color: var(--matisse-500);
        }

        & .img-container {
          & a {
            padding: 0;
            margin-bottom: -3px;
            cursor: pointer;

            & img {
              background-position: 50%;
              background-repeat: no-repeat;
              background-size: cover;
              min-height: 27vw;
              width: 100%;

              transition: transform 0.5s ease-in-out;
              -webkit-transition: transform 0.5s ease-in-out;

              &:hover {
                transform: scale(1.02) translateY(-0.3rem);
              }
            }
          }
        }

        & .info {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          /* align-items: center; */
          /* background-color: #022b4209; */
          background-image: linear-gradient(
            180deg,
            var(--matisse-transparent-dark-700) 2%,
            var(--matisse-transparent-dark-950) 37%
          );
          height: 100%;
          width: 100%;
          position: relative;
          z-index: 3;
          padding: 2rem;
          margin: 0;
          /* margin: 0 0.66px; */
          gap: 10px;
          cursor: pointer;
          transition: all 0.2s ease-in-out;

          & .content-title-p {
            display: flex;
            flex-direction: column;
            /* justify-content: center;
            align-items: center; */
            & div.container-title-code {
              display: flex;
              flex-wrap: wrap;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;

              cursor: default;

              &:hover {
                & .project-title {
                  color: var(--matisse-0);
                  text-shadow: 0 5px 5px #121212fc;
                }
              }

              & .project-title {
                justify-self: flex-start;
                font-size: 3.1rem;
                margin-bottom: 1rem;
                /* text-align: center; */
                /* cursor: pointer; */
                color: var(--matisse-50);
                transition: all 0.3s ease-in-out;
              }

              & a.ancla-code {
                justify-self: flex-end;
                /* display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row; */
                position: relative;
                /* background-color: var(--matisse-transparent-light-200); */
                background-color: var(--matisse-transparent-dark-0);
                color: var(--matisse-900);

                border: 1.27px solid var(--matisse-900);
                border-radius: 7.9px;

                padding: 0.5rem 0.9rem 0.5rem;

                font-size: 14px;

                transition: all 0.32s ease-in-out;

                z-index: 23;

                & i {
                  font-size: 16px;
                  color: var(--matisse-900);
                  margin-left: 2px;

                  transition: all 0.32s ease-in-out;
                }

                &:hover {
                  background-color: var(--matisse-900);
                  color: var(--matisse-10);
                  border-color: var(--matisse-50);

                  & i {
                    color: var(--matisse-10);
                  }
                }

                &:active {
                  background-color: var(--matisse-800);
                }
              }
            }

            & .detail-text {
              font-size: 1.7rem;
              margin: 0.6rem 0;
              text-align: start;
              letter-spacing: 0.02em;
              color: var(--matisse-transparent-light-0);
              /* color: #ffffff99; */
              /* text-indent: 25px; */

              transition: color 0.3s ease-in-out;
            }
          }

          & .desarrollo-with {
            padding: 0 2rem;
            margin-top: 1rem;
            min-width: 160px;
            font-weight: 400;
            /* display: block; */
            cursor: auto;

            & a.link {
              display: flex;
              align-items: center;
              text-align: start;
              /* justify-content: flex-start; */
              /* height: 42px; */
              height: 3.9rem;
              min-width: 5rem;
              max-width: 127px;
              font-size: 1.25rem;
              font-weight: 500;
              margin-bottom: 12px;
              padding: 1rem 8px 1rem 12px;
              /* background-color: #efefef27; */
              background-color: var(--matisse-transparent-light-200);
              color: var(--matisse-transparent-dark-0);
              border: 2px solid var(--matisse-transparent-dark-200);
              /* border: 2px solid #ffffff27; */
              border-radius: 3.6rem;
              vertical-align: middle;
              white-space: nowrap;
              letter-spacing: 0.1rem;
              text-align: right;
              text-transform: uppercase;
              box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1),
                0 1px 2px -1px rgb(0 0 0 / 0.1);
              position: relative;
              bottom: 0;
              /* transition: background-color 0.25s ease-in-out; */
              transition: all 0.3s ease-in-out;

              &:hover {
                bottom: 3px;
                /* border-color: #ffffffd2; */
                border-color: var(--matisse-50);
                color: var(--matisse-10);
                background-color: var(--matisse-transparent-light-800);
                box-shadow: 0 3px 6px 0 var(--matisse-transparent-light-200),
                  0 3px 5px -1px var(--matisse-transparent-light-200);
                cursor: pointer;
              }

              & .image-box {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 3.6rem;
                height: 3.6rem;
                padding: 0rem;
                /* background-color: red; */
                /* background-color: #08192b80; */
                border-color: #4c4360;
                border-radius: 50%;

                & img {
                  vertical-align: middle;
                  width: 2.4rem;
                  height: 2.4rem;
                  margin-right: 5px;
                  background-size: contain;
                  background-position: center center;
                }

                & img.img-html-css {
                  position: relative;
                  top: 1px;
                }
              }
            }
          }
        }
      }
    }
  }
}

#habilidades .container {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  & .title {
    font-size: 1.8rem;
    margin-top: 27px;
    margin-bottom: 21px;
    & i {
      /* font-size: 30px; */
      font-size: 40px;
    }
  }

  & .context {
    font-size: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    width: 79%;
    margin-top: 0px;

    & span {
      color: var(--matisse-10);
    }

    & .ul-habilidades {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 0;

      & li.title-item {
        list-style: none;
        margin: 15px 0 10px;

        color: var(--matisse-300);

        &:nth-child(1) {
          margin-left: 7px;
        }
      }

      & ul {
        display: flex;
        /* flex-direction: column; */
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 10px 0 0 20px;
        gap: 12px;

        & li {
          list-style: none;
          /* color: #c9dada; */
          color: var(--matisse-50);

          /* &::before {
            font-family: "Font Awesome 5 Brands";
            color: #f1f1f1;
            margin-right: 0.5em;
          } */

          & img {
            position: relative;
            top: 5px;
            border-radius: 2px;
          }
        }

        &:nth-child(2) {
          flex-direction: row;

          & li {
            margin-left: 30px;
            margin-bottom: 5px;
          }
        }

        &:nth-child(4) {
          align-items: flex-start;
          justify-content: center;
          flex-wrap: wrap;
          /* height: 120px; */
          height: auto;
          line-height: 200%;
          /* margin-bottom: 10px; */
          /* border-bottom: 2px solid red; */
          /* margin-left: 9%; */

          & li {
            margin-left: 27px;
            width: auto;
            color: #c9dada;
            /* color: blue; */

            & img {
              top: 1px;
            }

            &:nth-child(3) {
              & img {
                top: -3px;
              }
            }

            /*! JavaScript */
            /* &:nth-child(1) {
              &::before {
                content: "\f3b9";
              }
            } */
          }
        }

        /* & ul.frameworks { */
        &:nth-child(6) {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;

          & li.title-item {
            margin-left: 9%;
            color: var(--matisse-200);

            &:nth-child(1) {
              margin: 0;
              list-style-type: none;
            }

            &:nth-child(3) {
              /* color: green; */
              margin: 16px 0 0 4%;
              list-style-type: none;
            }
          }

          /* & ul:nth-child(2) { */
          & ul.frames-css {
            flex-direction: row;
            text-align: start;
            justify-content: center;
            margin-left: 0;
            & li {
              /* color: black; */

              & img {
                margin-right: 5px;
                top: 0;
              }
              &:nth-child(1) {
                margin-left: 9px;
              }

              &:nth-child(2) {
                margin-left: 14px;

                & img {
                  top: -1px;
                }
              }
            }
          }

          /* &ul:nth-child(4) { */
          & ul.frames-js {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & .circle {
              list-style: circle;
              width: 220px;
              margin-left: 15%;
              margin-bottom: 0;
              color: var(--matisse-400);
            }

            & ul:nth-child(2) {
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              margin: 0 0 10px 5%;

              & li {
                margin-left: 18px;
                max-width: 180px;
                min-width: 172px;

                & img {
                  margin-right: 5px;
                }

                /* ! nuxt.js */
                &:nth-child(4) {
                  & img {
                    /* width: 23px; */
                    height: auto;
                  }
                }
              }
            }

            & ul:nth-child(4) {
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              margin: 0 0 18px 5%;
              & li {
                margin-left: 18px;
                max-width: 180px;
                min-width: 172px;

                & img {
                  margin-right: 5px;
                }
              }

              &:nth-child(1) {
                list-style: none;

                /*! node.jS */
                /* &::before {
                  content: "\f3d3";
                } */
              }
            }
          }
        }
      }
    }

    & h4.special {
      display: flex;
      justify-content: center;
      text-align: center;
      text-wrap: pretty;
      word-spacing: normal;
      letter-spacing: 0.4px;
      font-style: italic;
      font-size: 24px;

      /* color: #cbfefe; */
      color: var(--matisse-50);

      /* margin: 30px 0 50px; */
      margin: 36px 27px;
      width: 70%;

      & span {
        display: contents;
        color: var(--matisse-300);
      }
    }
  }

  & div.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 27px;
    margin-bottom: 60px;

    color: whitesmoke;

    & h3 {
      margin-bottom: 23px;
    }

    & p {
      width: 60%;

      text-align: justify;
      text-wrap: pretty;

      & span {
        font-style: italic;
      }
    }
  }
}

section#social {
  margin-bottom: 0;
}

#social .container {
  font-size: 1.4em;
  & .context {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 65px;

    font-size: 2rem;

    & h3 {
      margin-top: 27px;
      margin-bottom: 12px;

      &:nth-child(1) {
        margin-top: 0;
      }
    }

    & div {
      /* width: 350px; */
      padding: 0 9px 0;
      text-align: center;

      & span {
        line-height: 1.7;
        cursor: default;
      }

      & span.copy-span {
        display: inline-block;
        position: absolute;
        transform: translate(6px, -6px);
        /* left: 50%;
        transform: translate(-50%, -40px); */
        /* transform: translateX(-50%); */
        padding: 1px 4px;

        border-radius: 0.6rem;

        background-color: var(--matisse-transparent-dark-900);
        color: var(--matisse-10);
        font-size: 15px;
        z-index: 99;
        visibility: hidden;

        &:hover {
          visibility: visible;
        }
      }

      &:hover {
        & span.copy-span {
          visibility: visible;
        }

        &::after {
          & span.copy-span {
            visibility: visible;
          }
        }
      }
    }

    & .container-button {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;
      /* height: 90px; */
      min-height: 70px;
      max-height: 210px;
      min-width: 320px;
      max-width: 700px;
      width: auto;
      gap: 21px;

      /* button v.01 */
      /* & a {

        margin: 1rem 1rem;

        margin-left: 15px;

        text-decoration: none;

        &:first-child {
          margin-left: 5px;
        }

        & button {
          position: relative;
          top: 6px;
          padding: 1rem 12px;
          background-color: var(--matisse-transparent-dark-800);
          color: var(--matisse-10);

          border: 2px solid var(--matisse-transparent-light-50);
          border-radius: 1.2rem;

          outline: none;

          box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1),
            0 1px 2px -1px rgb(0 0 0 / 0.1);

          transition: all 300ms ease-in-out 20ms;

          cursor: pointer;

          & span {
            font-size: 18px;
            font-weight: 600;
            color: var(--matisse-10);
          }

          & i {
            font-size: 24px;
            color: var(--matisse-10);
          }
          &:hover {
            color: var(--matisse-0);
            background-color: var(--matisse-transparent-dark-900);
            border-color: var(--matisse-200);
            top: 4px;
            box-shadow: 0 15px 20px -5px var(--matisse-transparent-dark-800),
              0 6px 8px -4px var(--matisse-transparent-dark-800);

            & span {
              color: var(--matisse-50);
            }
            & i {
              color: var(--matisse-50);
            }
          }

          &:active {
            color: var(--matisse-10);
            background-color: var(--matisse-800);
            border-color: var(--matisse-transparent-dark-300);
          }
        }
      }  */

      & a {
        cursor: pointer;
        .Btn {
          width: 45px;
          height: 45px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          background-color: transparent;
          position: relative;
          /* overflow: hidden; */
          border-radius: 7px;
          cursor: pointer;
          transition: all 0.3s;
        }

        .svgContainer {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: transparent;
          backdrop-filter: blur(0px);
          letter-spacing: 0.8px;
          border-radius: 10px;
          cursor: pointer;
          transition: all 0.3s;
          border: 1px solid rgba(156, 156, 156, 0.466);
        }

        .BG {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          z-index: -1;
          border-radius: 10px;
          pointer-events: none;
          transition: all 0.3s;
        }

        .BG.github {
          background: #181818;
        }

        .BG.linkedin {
          background: #0077b5;
        }

        .BG.wpp {
          background-color: #34bc38;
          /* background: #075e54; */
        }

        .Btn:hover .BG {
          transform: rotate(27deg);
          transform-origin: bottom;
        }

        .Btn:hover .svgContainer {
          background-color: rgba(156, 156, 156, 0.466);
          backdrop-filter: blur(4px);
        }
      }

      & a.wpp-icon-social {
        display: none;
      }
    }
  }
}

div.contact.open {
  width: 240px;
  height: 345px;

  /* h:455  w:331 */

  justify-content: center;
  & div#arrow {
    position: absolute;
    top: 32px;
    right: 21px;
    /* text-align: end;
    margin-right: 2.4rem; */

    & i.fa-arrow-left {
      display: none;
    }

    & i.fa-arrow-right {
      color: var(--matisse-200);
      display: block;
    }
  }

  & h3.title {
    display: block;
    align-self: center;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 24px;
    font-size: 21px;
    color: var(--matisse-200);
  }

  & div.container-app {
    /* margin-top: 1rem; */
    margin-bottom: 40px;

    row-gap: 24px;

    & div.icon {
      display: none;
    }

    & h3 {
      display: block;
      text-align: center;
      margin-bottom: 18px;
      font-size: 1.8rem;
      color: var(--matisse-transparent-dark-0);
    }

    & div.codigoQr {
      display: block;
      background-color: #121223;
      width: 120px;
      height: 120px;
      border-radius: 5px;
    }

    & a {
      display: block;
      margin-top: 18px;
      align-items: center;
      text-align: center;

      & button {
        position: relative;
        bottom: 0;
        padding: 1rem 2rem;

        /* border: 2px solid #ffffff27; */
        border: 2px solid var(--matisse-transparent-dark-200);

        border-radius: 3rem 3rem 3rem 3rem;

        /* color: #fffd; */
        /* color: var(--matisse-900); */
        color: var(--matisse-transparent-dark-0);
        /* background-color: #ffffff18; */
        background-color: var(--matisse-transparent-light-700);

        font-weight: 600;

        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
          /* background-color: #ffffff32; */
          background-color: var(--matisse-transparent-light-500);

          /* border-color: #ffffff97; */
          border-color: var(--matisse-400);

          color: var(--matisse-10);

          box-shadow: 0 15px 20px -5px var(--matisse-transparent-dark-900),
            0 6px 8px -4px var(--matisse-transparent-dark-900);
          /* box-shadow: 0 15px 20px -5px rgb(0 0 0 / 0.6),
            0 6px 8px -4px rgb(0 0 0 / 0.6); */

          bottom: 2px;
        }
      }
    }

    & div.codigoQr.wpp {
      background-image: url("./src/codigosQR/codigoQr-WPP-1.1.jpg");
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

div.contact {
  /* h:255  w:110 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 50px;
  right: 10px;

  width: 72px;
  height: 120px;

  background-image: linear-gradient(180deg, #031b28fe 18%, #032030fe 72%);
  background-repeat: no-repeat;

  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.4),
    0 8px 10px -6px rgb(0 0 0 / 0.3);

  border-radius: 1rem;

  transition: height 0.2s ease-out, width 0.2s ease-out;
  /* transition: all 0.2s ease-in-out; */

  z-index: 27;
  & div#arrow {
    text-align: center;
    font-size: 24px;

    cursor: pointer;

    & i.fa-arrow-left {
      display: block;
      color: var(--matisse-200);
    }

    & i.fa-arrow-right {
      display: none;
    }
  }

  & h3.title {
    display: none;
  }

  & div.container-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    color: var(--matisse-10);

    height: 60%;

    & div {
      & h3 {
        display: none;
      }

      & .codigoQr {
        display: none;

        transition: all 0.5s ease-in-out;
      }

      & a {
        display: none;
      }
    }

    & div.wpp {
      & div.icon {
        /* background: #41b883; */
        height: 40px;
        width: 40px;
        background-image: url("./src/icons/icon-wpp.png");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        border-radius: 1rem;

        cursor: pointer;
      }

      .Btn {
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: transparent;
        position: relative;

        border-radius: 7px;
        cursor: pointer;
        transition: all 0.3s;
      }

      .svgContainer {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        backdrop-filter: blur(0px);
        letter-spacing: 0.8px;
        border-radius: 10px;
        transition: all 0.3s;
        border: 1px solid rgba(156, 156, 156, 0.466);
      }

      .BG {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: #075e54;
        z-index: -1;
        border-radius: 10px;
        pointer-events: none;
        transition: all 0.3s;
      }

      .Btn:hover .BG {
        transform: rotate(24deg);
        transform-origin: bottom;
      }

      .Btn:hover .svgContainer {
        background-color: rgba(156, 156, 156, 0.466);
        backdrop-filter: blur(4px);
      }
    }
  }
}

@media (min-width: 1200px) {
  .img-container.small {
    left: calc(90vw - 63% + 2px);
  }
}

@media (max-width: 1151px) {
  .img-container.small {
    left: calc(90vw - 70%);
  }

  #proyectos .container {
    & .all-projects {
      /* align-items: flex-start; */
      align-items: stretch;

      & div.project {
        &:last-child {
          & .context {
            & .info {
              background-image: linear-gradient(
                180deg,
                var(--matisse-transparent-dark-700) 9%,
                var(--matisse-transparent-dark-950) 34%
              );
            }
          }
        }
        & .context {
          & .info {
            background-image: linear-gradient(
              180deg,
              var(--matisse-transparent-dark-700) 9%,
              var(--matisse-transparent-dark-950) 56%
            );
          }
        }
      }
    }
  }
}

@media (max-width: 972px) {
  .img-container.small {
    left: calc((92vw - 620px) - 7%);
  }

  #proyectos .container {
    & .all-projects {
      align-items: flex-start;
      & div.project {
        &:last-child {
          & .context {
            & .info {
              background-image: linear-gradient(
                180deg,
                var(--matisse-transparent-dark-700) 9%,
                var(--matisse-transparent-dark-950) 72%
              );
            }
          }
        }
        & .context {
          & .info {
            background-image: linear-gradient(
              180deg,
              var(--matisse-transparent-dark-700) 12%,
              var(--matisse-transparent-dark-950) 72%
            );
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .img-container.small {
    left: calc((75vw / 4) - 9%);
  }

  #proyectos .container {
    & .all-projects {
      align-items: flex-start;
      & div.project {
        &:last-child {
          & .context {
            & .info {
              background-image: linear-gradient(
                180deg,
                var(--matisse-transparent-dark-700) 9%,
                var(--matisse-transparent-dark-950) 69%
              );
            }
          }
        }
        & .context {
          & .info {
            background-image: linear-gradient(
              180deg,
              var(--matisse-transparent-dark-700) 7%,
              var(--matisse-transparent-dark-950) 72%
            );
          }
        }
      }
    }
  }
}

@media (max-width: 545px) {
  #proyectos .container {
    & .all-projects {
      align-items: flex-start;
      & div.project {
        &:last-child {
          & .context {
            & .info {
              background-image: linear-gradient(
                180deg,
                var(--matisse-transparent-light-400) 3%,
                var(--matisse-transparent-dark-950) 79%
              );
            }
          }
        }

        & .context {
          & div.info {
            flex-direction: column;
            align-items: center;
            gap: 12px;

            background-image: linear-gradient(
              180deg,
              var(--matisse-transparent-light-400) 12%,
              var(--matisse-transparent-dark-950) 72%
            );

            /* & .content-title-p {
            } */

            & .desarrollo-with {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              flex-wrap: wrap;

              gap: 3px;

              & a {
                margin-right: 12px;
              }
            }
          }
        }
      }
    }
  }

  #habilidades .container {
    font-size: 1.9rem;
    font-weight: 600;
  }

  div.contact {
    display: none;
  }
}

@media (max-width: 700px) {
  p {
    font-size: 23px;
    text-wrap: pretty;
    font-weight: 400;
    /* text-indent: 15px; */
    /* text-indent: 35px; */
  }

  .header-nav {
    position: static;
    background: transparent;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: flex-start; */

    /* margin-top: 79px; */

    height: 37vh;

    & nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      /* margin-top: 200px; */
      margin: 35px 0 27px;
      /* margin-bottom: 10px; */

      text-align: center;

      & .menu {
        text-align: center;
        line-height: 279%;

        & li.item-nav {
          font-size: 1.8rem;
          margin-bottom: 21px;
          display: block;

          & a {
            font-weight: 500;
          }
        }
      }
    }
  }
  .img-container.small {
    display: none;
  }

  .img-container {
    align-items: flex-start;
    position: relative;
    /* height: 25vh; */
    /* margin-bottom: 10px; */
    margin-top: 0;

    .img-photo {
      margin-top: 0;
      margin-bottom: 0;
      & img {
        margin-top: 0;
        margin-bottom: 40px;
      }
    }
  }

  section#sobremi .container {
    & .context {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 60px;
      margin-top: 18px;

      & p {
        width: 79%;
      }
    }
  }

  #proyectos > div.container & div.all-projects {
    & div.project {
      &:last-child {
        & .context {
          & .info {
            background-image: linear-gradient(
              180deg,
              var(--matisse-transparent-light-400) 9%,
              var(--matisse-transparent-dark-950) 36%
            );
          }
        }
      }

      & div.context {
        margin-bottom: 50px;

        & .img-container {
          /* position: absolute;
          z-index: -1; */
          align-items: center;
          /* margin: 0 18px 12px; */
          height: 100%;
          /* width: 100%; */
          /* margin-top: 0;
      margin-bottom: 10px; */

          & div {
            height: 70%;
            background-position: 10% 10%;
            background-size: cover;
            & img {
              height: 100%;
            }
          }
        }

        & .info {
          background-image: linear-gradient(
            180deg,
            var(--matisse-transparent-light-400) 9%,
            var(--matisse-transparent-dark-950) 42%
          );

          & h2.project-title {
            font-size: 2rem;
            margin-top: 24px;
          }

          & .desarrollo-with {
            margin-bottom: 36px;
            flex-wrap: wrap;
            height: auto;
          }

          & .container-button {
            height: 70px;
            margin-top: 27px;
          }

          & p.details {
            /* color: blue; */
            width: 79%;
          }
        }
      }
    }
  }

  #habilidades .container {
    & .title {
      margin-top: 27px;
      margin-bottom: 21px;
    }

    & .context {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & .ul-habilidades {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;

        /* & li.title-item:nth-child(1) */
        & li.title-item {
          list-style: none;
          margin: 15px 0 10px;
          text-align: center;

          &:nth-child(1) {
            margin-left: 7px;
          }
        }

        & ul {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          margin-left: 0;

          &:nth-child(2) {
            /* color: red; */
            flex-direction: column;
          }

          &:nth-child(4) {
            align-items: flex-start;
            flex-wrap: nowrap;
            height: auto;
            margin-left: 9%;
          }

          &:nth-child(6) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            & li.title-item {
              margin-left: 9%;
              /* color: red; */
              &:nth-child(1) {
                margin: 0;
                list-style-type: none;
              }

              &:nth-child(3) {
                /* color: green; */
                margin: 16px 0 0 4%;
                list-style-type: none;
              }
            }

            & ul:nth-child(4) {
              & .circle {
                list-style: circle;
                margin-left: 9%;
                margin-bottom: 0;
              }

              & ul:nth-child(2) {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                margin: 0 0 10px 6%;
              }

              & ul:nth-child(4) {
                margin: 0 0 15px 6%;
              }
            }
          }
        }
      }

      & h4.special {
        margin: 27px 24px;
        text-align: center;
      }
    }

    & div.skills-container {
      color: whitesmoke;
      flex-wrap: wrap;

      & h3 {
        margin-bottom: 23px;
      }

      & p {
        text-align: justify;
        width: 79%;
      }
    }
  }

  #social > .container {
    margin-bottom: 27px;

    & .title {
      margin-bottom: 24px;
    }

    & .context {
      & .container-button {
        & a.wpp-icon-social {
          display: contents;
        }
      }
    }
  }

  .title {
    font-size: 20px;
  }

  div.contact {
    display: none;
  }
}

@keyframes docs {
  0% {
    transform: translateY(0%);
    background-color: transparent;
  }

  50% {
    transform: translateY(-15%);
  }

  100% {
    transform: translateY(0%);
  }
}
